# Database
DATABASE_URL="postgresql://user:password@localhost:5432/criteriadesigns?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Upload directory (for production, consider S3)
UPLOAD_DIR="./public/uploads"
